div {
  display: flex;
  align-items: center;
  font-size: large;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-left: 30px;
}

img {
  margin-left: 30px;
  margin-right: 30px;
  width: 120px;
  height: 100px
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

ul li {
  background-color: white;
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
}

ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #630925;
}
