<div>

  <div>
    <img src="../../assets/logo.jpg" alt="">
  </div>

  <nav #menu>
    <div *ngIf="!showFullMenu">
      <button mat-button [matMenuTriggerFor]="menu">Меню</button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [routerLink]="['/main', 'home']">Главная</a>
        <a mat-menu-item [routerLink]="['/main', 'breeds']">Породы</a>
        <a mat-menu-item [routerLink]="['/main', 'dogs']">Собаки</a>
        <a mat-menu-item [routerLink]="['/main', 'add-dog']">Создать объявление</a>
        <a mat-menu-item [routerLink]="['/main', 'user-info']">О пользователе</a>
      </mat-menu>
    </div>

    <div *ngIf="showFullMenu">
      <ul>
        <li [routerLinkActive]="'active'">
          <a [routerLink]="['/main', 'home']">ГЛАВНАЯ</a>
        </li>
        <li [routerLinkActive]="'active'">
          <a [routerLink]="['/main', 'breeds']">ПОРОДЫ</a>
        </li>
        <li [routerLinkActive]="'active'">
          <a [routerLink]="['/main', 'dogs']">СОБАКИ</a>
        </li>
        <li [routerLinkActive]="'active'">
          <a [routerLink]="['/main', 'add-dog']">СОЗДАТЬ ОБЪЯЛЕНИЕ</a>
        </li>
        <li [routerLinkActive]="'active'">
          <a [routerLink]="['/main', 'user-info']">О ПОЛЬЗОВАТЕЛЕ</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="header">
    <div class="date">
      {{date | date: 'dd.MM.yyyy HH:mm'}}
    </div>
    <div>Здравствуйте, {{user.name}}
    </div>
    <div>
        <button
          mat-stroked-button
          color="warn"
          [routerLink]="['/login']"
        >
          Выход
        </button>
    </div>
  </div>
</div>
