.text-xs-center {
  text-align: center !important
}

.title {
  font-family: Bradley Hand, cursive;
  font-weight: 600;
  margin-top: 30px;
}

.form-group {
  margin-bottom: 1rem;
  text-align: center !important;
  display: flex;
  flex-direction: column;
}

.form-group.has-error .form-help-text {
  color: #fb494d;
  font-size: 13px;
}

.btn {
  height: 30px;
  width: 100px;
  color: #fff;
  background-color: #52bcd3;
  border-color: #52bcd3;
  border-radius: 10px;
}

.btn:disabled {
  cursor: no-drop;
  color: #818a91;
  background-color: aliceblue;
  border-color: linen;
}

.btn:valid {
  cursor: pointer;
}

.text-muted {
  color: #818a91;
}

.danger {
  background-color: #fb494d;
}
