<p class="text-xs-center title">ВОЙТИ</p>
<div
  *ngIf="message.text"
  style="position: absolute; left: 100px; top: -100px">
  {{message.text}} asdasd
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">
    <div><label for="email">Email:</label>
      <input
        type="text"
        id="email"
        placeholder="Введите ваш email"
        formControlName="email"
      ></div>
    <div>
    <span
      class="form-help-text"
      *ngIf="form.get('email').invalid && form.get('email').touched"
    >
      <span *ngIf="form.get('email').errors.required">Email не может быть пустым.</span>
      <span *ngIf="form.get('email').errors.email">Введите корректный email.</span>
    </span>
    </div>
  </div>

  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"

  >
    <div><label for="password">Пароль:</label>
      <input
        type="password"
        id="password"
        placeholder="Пароль"
        formControlName="password"
      ></div>
    <div>
    <span
      class="form-help-text"
      *ngIf="form.get('password').invalid && form.get('password').touched"
    >
      <span *ngIf="form.get('password').errors.required">Пароль не может быть пустым.</span>
      <span *ngIf="form.get('password').errors.minlength && form.get('password')['errors'].minlength.requiredLength">
        Пароль должен быть больше
        {{form.get('password').errors.minlength.requiredLength}}
        символов. Сейчас {{form.get('password').errors.minlength.actualLength}}.</span>
    </span>
    </div>
  </div>

  <div class="form-group">
    <div>
      <button
        type="submit"
        class="btn"
        [disabled]="form.invalid"
      >Войти
      </button>
      <div *ngIf="loading">Пожалуйста, подождите</div>
    </div>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Нет аккаунта? <a [routerLink]="'/registration'">Зарегистрироваться!</a>
    </p>
  </div>
</form>
