h2 {
  text-align: center;
}

button{
  margin-top: 5%;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-top: 3%;
  width: 40%;
  margin-bottom: 3%;
}

.container > * {
  width: 100%;
}


