<h2>Информация о Вас</h2>

<div class="container">
  <mat-form-field>
    <input
      matInput
      placeholder="Ваше имя"
      ngModel
      #name='ngModel'
      [required]="true"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Ваш логин"
      ngModel
      #login='ngModel'
      [required]="true"
      [appUserInfoValidator]="name.value"
    >
    <mat-error
      *ngIf="login.touched && login.errors?.appTemplateValidator"
    > Логин должен включать в себя {{login.errors?.appTemplateValidator}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Ваш email"
      ngModel
      #email='ngModel'
      [required]="true"
      [appUserInfoValidator]="'email'">
    <mat-error *ngIf="email.invalid">Введите корректный email</mat-error>
    <mat-error *ngIf="email.touched && email.errors?.appTemplateValidator">Поле должно включать в
      себя {{email.errors?.appTemplateValidator}}</mat-error>
  </mat-form-field>


  <button
    mat-flat-button
    color="primary"
    type="submit"
    disabled="invalid"
  >
    Сохранить и отправить объявление
  </button>
</div>

<!--

<div>
  <span>Ваше имя:
    <input
      ngModel
      #name='ngModel'
      [required]="true"
    >
  </span>
  <span *ngIf="name.touched && name.errors?.required">Введите имя</span>

  <div>
    Ваш логин:
    <input
      ngModel
      #login='ngModel'
      [required]="true"
      [appUserInfoValidator]="name.value"
    >
    <span
      *ngIf="login.touched && login.errors?.appTemplateValidator">Логин должен включать в себя {{login.errors?.appTemplateValidator}}</span>
  </div>
  <div>
    Ваш email:
    <input
      ngModel
      #email='ngModel'
      [required]="true"
      [appUserInfoValidator]="'email'"
    >
    <span *ngIf="email.touched && email.errors?.required">Введите email</span>
    <span *ngIf="email.touched && email.errors?.email">Введите корректный email</span>
    <span
      *ngIf="email.touched && email.errors?.appTemplateValidator">Поле должно включать в себя {{email.errors?.appTemplateValidator}}</span>
  </div>
  <div>
    Телефон:
    <input
      ngModel
      #phone='ngModel'
      [required]="true"
    >
    <span *ngIf="phone.touched && phone.errors?.required">Введите номер телефона</span>

  </div>
  <button>Сохранить</button>
</div>
-->
