<h2>Информация о {{dog?.name}}</h2>
<div *ngIf="dog">
  <span>Имя питомца: {{dog.name}}</span>
  <br>
  <span>Порода:{{dog.breed}}</span>
  <br>
  <span>Информация о собаке: {{dog.info}}</span>
  <br>
  <span>Если хотите его забрать, то нужно заплатить столько рублей: {{dog.price}}</span>
</div>

<span *ngIf="loading">Загрузка</span>
