div {
  width: 450px;
  min-height: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%)
}

.auth-container {
  height: 20%;
  background-color: cornsilk;
  color: crimson;
  border-radius: 20px;
}
