<p class="title">РЕГИСТРАЦИЯ</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('name').invalid && form.get('name').touched}"
  >
    <label for="name">Ваше имя:</label>
    <input
      id=name
      type="text"
      placeholder="Имя"
      formControlName="name"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('name').invalid && form.get('name').touched">
        Имя не может быть пустым.
      </span>
  </div>

  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
  >
    <label for="email">Ваш email:</label>
    <input
      id="email"
      type="text"
      placeholder="Введите ваш email"
      formControlName="email">
    <span
      class="form-help-text"
      *ngIf="form.get('email').invalid && form.get('email').touched"
    >
      <span *ngIf="form.get('email').errors.required">Email не может быть пустым.</span>
      <span *ngIf="form.get('email').errors.email">Введите корректный email.</span>
    </span>
  </div>

  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"
  >
    <label for="password">Пароль:</label>
    <input
      id="password"
      type="password"
      placeholder="Введите пароль"
      formControlName="password"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('password').invalid && form.get('password').touched"
    >
      <span *ngIf="form.get('password').errors.required">Пароль не может быть пустым.</span>
      <span
        *ngIf="form.get('password').errors.minlength && form.get('password').errors.minlength.requiredLength">
        Пароль должен быть больше
        {{form.get('password').errors.minlength.requiredLength}}
        символов. Сейчас {{form.get('password').errors.minlength.actualLength}}.</span>
    </span>
  </div>

  <div class="form-group">
    <button
      type="submit"
      class="btn"
      [disabled]="form.invalid"
    >
      Зарегистрироваться
    </button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      Уже есть аккаунт?
      <a [routerLink]="'/login'">
        Войти!
      </a>
    </p>
  </div>
</form>



