label {
   margin-left: 5%;
   margin-right: 5%;
 }

input {
  width: 60%;
  margin-right: 5%;
}

.title {
  text-align: center !important;
  font-family: Bradley Hand, cursive;
  font-weight: 600;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group.has-error .form-help-text {
  color: #fb494d;
  font-size: 13px;
}

.form-group.has-error span.has-error {
  color: #f44;
  font-size: 13px;
  display: block !important
}

.btn {
  height: 30px;
  color: #fff;
  background-color: #52bcd3;
  border-color: #52bcd3;
  border-radius: 10px;
  margin-left: 33%;
}

.btn:disabled {
  cursor: no-drop;
}

.btn:valid {
  cursor: pointer;
}

.text-muted {
  color: #818a91;
}

.text-xs-center {
  text-align: center !important
}
