<h2>
  Создание объявления
</h2>

<div class="add-container">
  <div class="loading">
    <mat-progress-spinner
      *ngIf="loading"
      class="example-margin"
      color="primary"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    *ngIf="!loading"
    class="add-container">
    <div class="container">
      <mat-form-field>
        <input
          matInput
          id="name"
          type="text"
          formControlName="name"
          placeholder="Как зовут Вашего питомца?">
      </mat-form-field>

      <!--  <mat-form-field>
          <mat-select placeholder="Расскажите, какой он породы?">
            <mat-option formControlName="breed">Лабрадор</mat-option>
          </mat-select>
        </mat-form-field>-->
      <mat-form-field>
        <input
          matInput
          formControlName="breed"
          placeholder="Расскажите, какой он породы?">
      </mat-form-field>
      <div
        *ngIf="form.get('breed').touched"
        class="breed-error">{{form?.controls?.breed?.errors?.appTemplateValidator}}</div>

      <mat-form-field>
        <textarea
          matInput
          formControlName="info"
          placeholder="Какой информацией Вы бы еще хотели поделиться?">
        </textarea>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          id="price"
          formControlName="price"
          placeholder="Какое вознаграждение Вы хотите за дружбу с ним?">
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        disabled="invalid"
      >
        Сохранить и отправить объявление
      </button>
    </div>
  </form>
</div>
<!--
    <div>
      <label for="name">Как зовут Вашего питомца?</label>
      <input
        type="text"
        formControlName="name">
      <br>
      <label for="breed">Расскажите, какой он породы?</label>
      <input
        id="breed"
        type="text"
      >
      <div
        *ngIf="form.get('breed').touched"
        class="breed-error">{{form?.controls?.breed?.errors?.appTemplateValidator}}</div>
      <br>
      <label for="price">Какое вознаграждение Вы хотите за дружбу с ним?</label>
      <input
        type="text"
        formControlName="price">
      <div
        *ngIf="form.get('price').touched"
        class="breed-error">{{form?.controls?.price?.errors?.appTemplateValidator}}</div>
      <br>
      <label for="info">Какой информацией Вы бы еще хотели поделиться?</label>
      <textarea
        id="info"
        type="text"
        formControlName="info"></textarea>
      <br>
    </div>
    <div
      class="btn"
      type="submit">
      <button>Сохранить и отправить объявление</button>
    </div>
  </div>
  -->
