h2 {
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.add-container {
  margin-left: 20%;
  margin-top: 3%;
  width: 60%;
  margin-bottom: 3%;
}

.breed-error {
  color: red;
  display: flex;
  float: bottom;
}




