<h2>Эти красавцы ждут своего хозяина</h2>

<div class="sort">
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Имя"
      [formControl]="nameFilter"
    >
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Порода"
      [formControl]="breedFilter">
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Цена"
      [formControl]="priceFilter"
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Сортировать по:</mat-label>
    <mat-select
      [formControl]="sort"
    >
      <mat-option *ngFor="let item of sortedVariants" [value]="item">{{item.title}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="loading">
  <mat-progress-spinner
    *ngIf="loading"
    class="example-margin"
    color="primary"
    mode="indeterminate"
  >
  </mat-progress-spinner>
</div>

<ng-container *ngIf="!loading">
  <div *ngFor="let dog of dogsView">
    Имя: <span>{{dog.name}} </span>
    <br>
    Порода: <span>{{dog.breed}} </span>
    <br>
    Цена: <span>{{dog.price}} </span>
    <br>
    <button mat-raised-button color="primary" [routerLink]="['/dogs', dog.id]">Узнать подробнее</button>
    <button mat-raised-button [routerLink]="['/dogs', dog.id, 'edit']">Редактировать объявление</button>
    <button mat-raised-button color="warn" (click)="delete(dog)">Удалить объявление</button>
    <hr>
  </div>
</ng-container>

<!--<div *ngFor="let name of dogNames">
  <span>{{name}} </span>
  <br>
</div>-->
<!--{{dogs | json}}-->
