.main-component {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: aliceblue;
  width: 100%;
  height: 17vh;
}

.center-block {
  background-color: white;
  color: #630925;
  align-items: stretch;
  align-content: stretch
}
