<h2>
  Породы собак:
</h2>
<div>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Лабрадор</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/design/breed1.jpg"/>
    <mat-card-content>
      <p>
        Лабрадор ретривер - порода собак широко известная не только своей полезностью, но и
        своей добротой. Это очень открытые, любвеобильные и дружелюбные животные, которые в первую очередь
        ценят хорошие взаимоотношения внутри своей семьи. Они чрезвычайно преданы хозяину и семье, и
        рады проводить с ними всё свободное время.
        Данная порода собак имеет очень развитый интеллект, и прекрасно понимает человека.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Джек-рассел-терьер</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/design/breed3.jpg"/>
    <mat-card-content>
      <p>
        Джек-рассел-терьер - это источник безграничного количества энергии, который души не чает
        в своих владельцах. Они чрезвычайно преданы своей семье и любят хозяев безгранично. Хотя,
        изначально этих собак создавали и разводили как охотничьих, сегодня они повсеместно живут в
        семьях как домашние любимцы, которые ни разу в жизни не охотились на что-либо, кроме игрушки
        или собственного хвоста.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Немецкая овчарка</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/design/breed2.jpg"/>
    <mat-card-content>
      <p>
        Для многих людей во всём мире, немецкая овчарка и по сей день является примером того,
        какой должна быть идеальная собака. Во-первых, конечно же, следует сказать об их высоком
        интеллекте - мало есть в мире пород, которые могли бы соперничать с немецкой овчаркой в этом
        отношении.
        Немецкая овчарка прекрасно понимает человека, причём, если речь идет о хозяине, зачастую она
        понимает его ещё до того, как он высказал своё желание.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Такса</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/design/breed4.jpg"/>
    <mat-card-content>
      <p>
        Такса является самой старой норной породой собак, точное время появления которой неизвестно.
        Это сообразительные, энергичные, азартные животные, которые отличаются самостоятельностью, уверенностью в себе и самоуважением, граничащим с упрямством.
        Таксы хорошо разбираются в людях и в своем выборе категоричны. Более того, они хорошо запоминают лица, долго помнят и обиду, и похвалу.
        Стандартная такса — самая древняя представительница породы, в 19 веке давшая начало миниатюрной и кроличьей таксам.
      </p>
    </mat-card-content>
  </mat-card>
</div>



