h2 {
  text-align: center;
}

div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  max-width: 350px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
