<h2>Редактирование обяъвления</h2>
<div
  *ngIf="loading">Пожалуйста, подождите. Идет загрузка</div>
<form
  *ngIf="!loading"
  [formGroup]="form">
  <div class="add-container">
    <div>
      <label for="name">Как зовут Вашего питомца?</label>
      <input
        id="name"
        type="text"
        formControlName="name">
      <br>
      <label for="breed">Расскажите, какой он породы?</label>
      <input
        id="breed"
        type="text"
        formControlName="breed">
      <br>
      <label for="price">Какое вознаграждение Вы хотите за дружбу с ним?</label>
      <input
        id="price"
        type="text"
        formControlName="price">
      <br>
      <label for="info">Какой информацией Вы бы еще хотели поделиться?</label>
      <textarea
        id="info"
        type="text"
        formControlName="info"></textarea>
      <br>
    </div>
    <div
      class="btn"
      type="submit">
      <button (click)="onSave()">Обновить объявление</button>
    </div>
  </div>
</form>
