@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  background-color: white;
  font-family: Bradley Hand, cursive;
  font-weight: 400;
  height: 100%;
  color: #630925;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
